{
  "*": {
    "Releases": [
      "buster",
      "buster-test",
      "bullseye",
      "bullseye-test",
      "bookworm",
      "bookworm-test",
      "trixie",
      "trixie-test",
      "sid",
      "sid-test",
      "focal",
      "focal-test",
      "jammy",
      "jammy-test",
      "noble",
      "noble-test"
    ]
  }
}
