Source: radxa-overlays
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: misc
Priority: optional
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               dh-exec,
               dh-sequence-dkms,
               lintian

Package: radxa-overlays-dkms
Architecture: all
Section: misc
Priority: optional
Depends: ${misc:Depends},
Recommends: rsetup (>= 0.4.3),
Description: dkms sources for radxa/overlay
 This package provides the dkms source code for radxa/overlay.
