#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk
include /usr/share/dpkg/architecture.mk

%:
	dh $@

override_dh_dkms:
	dh_dkms -V $(DEB_VERSION)

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_install:
	DEB_VERSION=$(DEB_VERSION) dh_install -X arch/arm64/boot/dts/rockchip/overlays/Makefile.rk3588-can
