#define DISPLAY_SPI spi12
#include "waveshare35-lcd.dtsi"

/ {
    metadata {
        title = "Enable Waveshare 3.5inch RPi LCD (B) on SPI12";
        compatible = "radxa,dragon-q6a";
        category = "misc";
        exclusive = "spi12", "uart12", "i2c12", "gpio48", "gpio49", "gpio50", "gpio51", "gpio55", "gpio57", "gpio27", "gpio29";
        description = "Enable Waveshare 3.5inch RPi LCD (B) on SPI12.";
    };
};

&i2c12 {
	status = "disabled";
};

&uart12 {
	status = "disabled";
};

&DISPLAY_SPI {
	num-cs = <2>;
	cs-gpios = <&tlmm 51 GPIO_ACTIVE_HIGH
				&tlmm 55 GPIO_ACTIVE_HIGH>;
	pinctrl-names = "default", "high_speed";
	pinctrl-0 = <&qup_spi12_data_clk>;
};

&ili9486 {
	reset-gpios = <&tlmm 57 GPIO_ACTIVE_LOW>;
	dc-gpios = <&tlmm 27 GPIO_ACTIVE_HIGH>;
	init = <0x10000b0 0x0
			0x1000011
			0x20000ff
			0x1000021
			0x100003a 0x55
			0x10000c2 0x33
			0x10000c5 0x0 0x1e 0x80
			0x1000036 0x28
			0x10000b1 0xb0
			0x10000e0 0x0 0x13 0x18 0x4 0xf 0x6 0x3a 0x56 0x4d 0x3 0xa 0x6 0x30 0x3e 0xf
			0x10000e1 0x0 0x13 0x18 0x1 0x11 0x6 0x38 0x34 0x4d 0x6 0xd 0xb 0x31 0x37 0xf
			0x1000011
			0x20000ff
			0x1000029>;
};

&ads7846 {
	interrupt-parent = <&tlmm>;
	interrupts = <29 IRQ_TYPE_EDGE_FALLING>;
	pendown-gpio = <&tlmm 29 GPIO_ACTIVE_LOW>;
	vcc-supply = <&vcc_5v_peri>;
};
