// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2026 Radxa Computer (Shenzhen) Co., Ltd.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/clock/qcom,camcc-sc7280.h>
#include <dt-bindings/gpio/gpio.h>

/ {
	metadata {
		title = "Enable Raspberry Pi Camera Module 3 on CAM3";
		compatible = "radxa,dragon-q6a";
		category = "camera";
		exclusive = "cci1_i2c1", "gpio78";
		description = "Enable Raspberry Pi Camera Module 3 on CAM3.";
	};
};

&{/} {
	reserved-memory{
		linux,cma {
			compatible = "shared-dma-pool";
			size = <0x0 0x20000000>;
			reusable;
			linux,cma-default;
		};
	};

	ext_cam_clk_imx708_1: ext-cam-clk-imx708-1 {
		status = "okay";
		compatible = "fixed-clock";
		clock-frequency = <24000000>;
		clock-output-names = "ext_cam_clk_imx708_1";
		#clock-cells = <0>;
	};

	camera_pwdn_gpio_1: camera-pwdn-gpio-1 {
		status = "okay";
		compatible = "regulator-fixed";
		regulator-name = "camera_pwdn_gpio_1";
		regulator-always-on;
		enable-active-high;
		gpios = <&tlmm 78 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&cam_pwdn_gpio_1>;
	};
};

&camss {
	vdda-phy-supply = <&vreg_l10c_0p88>;
	vdda-pll-supply = <&vreg_l6b_1p2>;

	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		/* The port index denotes CSIPHY id i.e. csiphy0 */
		port@3 {
			reg = <3>;

			csiphy3_ep: endpoint {
				clock-lanes = <7>;
				data-lanes = <0 1>;
				remote-endpoint = <&imx708_1_ep>;
				clock-noncontinuous;
			};
		};
	};
};

&cci1 {
	status = "okay";
};

&cci1_i2c1 {
	#address-cells = <1>;
	#size-cells = <0>;

	clock-frequency = <100000>;
	camera@1a {
		compatible = "sony,imx708";
		reg = <0x1a>;

		vana1-supply = <&camera_pwdn_gpio_1>;	/* 2.8v */
		vana2-supply = <&camera_pwdn_gpio_1>;	/* 1.8v */
		vdig-supply = <&camera_pwdn_gpio_1>;	/* 1.1v */
		vddl-supply = <&camera_pwdn_gpio_1>;	/* 1.8v */

		clocks = <&ext_cam_clk_imx708_1>;
		clock-names = "inclk";

		port {
			imx708_1_ep: endpoint {
				link-frequencies = /bits/ 64 <450000000>;
				data-lanes = <1 2>;
				remote-endpoint = <&csiphy3_ep>;
			};
		};
	};
};

&tlmm {
	cam_pwdn_gpio_1: cam-pwdn-gpio-1-state {
		pins = "gpio78";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-up;
	};
};
