// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2025 Radxa Computer (Shenzhen) Co., Ltd.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/clock/qcom,camcc-sc7280.h>
#include <dt-bindings/gpio/gpio.h>

&{/} {
	ext_cam_clk_imx219: ext-cam-clk-imx219 {
		status = "okay";
		compatible = "fixed-clock";
		clock-frequency = <24000000>;
		clock-output-names = "ext_cam_clk_imx219";
		#clock-cells = <0>;
	};

	camera_pwdn_gpio_0: camera-pwdn-gpio-0 {
		status = "okay";
		compatible = "regulator-fixed";
		regulator-name = "camera_pwdn_gpio_0";
		regulator-always-on;
		regulator-boot-on;
		enable-active-high;
		gpios = <&tlmm 77 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&cam_pwdn_gpio_0>;
	};
};

&{/reserved-memory} {
	linux,cma {
		compatible = "shared-dma-pool";
		size = <0x0 0x8000000>;
		reusable;
		linux,cma-default;
	};
};

&camss {
	vdda-phy-supply = <&vreg_l10c_0p88>;
	vdda-pll-supply = <&vreg_l6b_1p2>;

	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		/* The port index denotes CSIPHY id i.e. csiphy2 */
		port@2 {
			reg = <2>;

			csiphy2_ep: endpoint {
				clock-lanes = <7>;
				data-lanes = <0 1>;
				remote-endpoint = <&imx219_0_ep>;
			};
		};
	};
};

&cci1 {
	status = "okay";
};

&cci1_i2c0 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	camera@10 {
		compatible = "sony,imx219";
		reg = <0x10>;
		clocks = <&ext_cam_clk_imx219>;
		clock-names = "ext_cam_clk_imx219";

		port {
			imx219_0_ep: endpoint {
				link-frequencies = /bits/ 64 <456000000>;
				data-lanes = <1 2>;
				remote-endpoint = <&csiphy2_ep>;
			};
		};
	};
};

&tlmm {
	cam_pwdn_gpio_0: cam-pwdn-gpio-0-state {
		pins = "gpio77";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-up;
	};
};
