// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2025 Radxa Computer (Shenzhen) Co., Ltd.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/qcom,pmic-gpio.h>
#include <dt-bindings/pwm/pwm.h>

&{/} {
	vcc_3v3_lcd: vcc-3v3-lcd-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&tlmm 80 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		vin-supply = <&vcc_3v3>;
	};

	backlight_dsi: backlight-dsi {
		compatible = "pwm-backlight";
		pwms = <&pm8350c_pwm 3 50000>;
		enable-gpios = <&pm8350c_gpios 8 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_bl_pwm>;
		brightness-levels = <255 0>;
		num-interpolated-steps = <255>;
		default-brightness-level = <250>;
	};
};

&mdss {
	status = "okay";
};

&mdss_dsi {
	vdda-supply = <&vreg_l6b_1p2>;
	#address-cells = <1>;
	#size-cells = <0>;

	status = "okay";

	panel: panel@0 {
		compatible = "radxa,display-10fhd-ad003";
		reg = <0>;
		backlight = <&backlight_dsi>;
		vccio-supply = <&vcc_1v8>;
		vdd-supply = <&vcc_3v3_lcd>;
		reset-gpios = <&tlmm 44 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_panel_reset>;

		port {
			panel0_in: endpoint {
				remote-endpoint = <&mdss_dsi0_out>;
			};
		};
	};
};

&mdss_dsi0_out {
	remote-endpoint = <&panel0_in>;
	data-lanes = <0 1 2 3>;
};

&mdss_dsi_phy {
	vdds-supply = <&vreg_l10c_0p88>;
	status = "okay";
};

&qupv3_id_1 {
       status = "okay";
};

&i2c13 {
	clock-frequency = <100000>;
	#address-cells = <1>;
	#size-cells = <0>;

	status = "okay";

	touch@14 {
		#gpio-cells = <2>;
		compatible = "goodix,gt9271";
		reg = <0x14>;
		interrupt-parent = <&tlmm>;
		interrupts = <81 IRQ_TYPE_LEVEL_HIGH>;
		irq-gpios = <&tlmm 81 IRQ_TYPE_LEVEL_HIGH>;
		reset-gpios = <&tlmm 105 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&ts_int_conn>, <&ts_rst_conn>;
	};
};

&tlmm {
	lcd_panel_reset: lcd-panel-reset {
		pins = "gpio44";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
	};

	ts_int_conn: ts-int-conn-state {
		pins = "gpio81";
		function = "gpio";
		bias-disable;
	};

	ts_rst_conn: ts-rst-conn-state {
		pins = "gpio105";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};
};

&pm8350c_gpios {
	lcd_bl_pwm: dsi-lcd-bl-pwm-state {
		pins = "gpio8";
		function = "func1";
		bias-disable;
		qcom,drive-strength = <PMIC_GPIO_STRENGTH_LOW>;
		output-low;
		power-source = <0>;
	};
};

&pm8350c_pwm {
	status = "okay";
};
