// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2026 Radxa Computer (Shenzhen) Co., Ltd.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/qcom,pmic-gpio.h>
#include <dt-bindings/pwm/pwm.h>

/ {
	metadata {
		title = "Enable Radxa Display 10FHD";
		compatible = "radxa,vmarc-q9075-io";
		category = "display";
		exclusive = "mdss0_dsi0", "gpio31", "gpio42", "gpio68", "gpio69", "gpio76", "gpio77";
		description = "Enable Radxa Display 10FHD.";
	};
};

&{/} {
	vcc3v3_io: vcc3v3-io-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_io";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	vcc_1v8_io: vcc-1v8-io-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_1v8_io";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	mipi_dsi_vdd: mipi-dsi-vdd-regulator {
		compatible = "regulator-fixed";
		regulator-name = "mipi_dsi_vdd";
		gpio = <&tlmm 69 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&mipi_dsi_vdd_en>;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
		enable-active-high;
		regulator-always-on;
	};

    dsi_pwm: dsi-pwm {
		compatible = "clk-pwm";
		#pwm-cells = <2>;

		clocks = <&gcc GCC_GP2_CLK>;

		pinctrl-0 = <&dsi_pwm_default>;
		pinctrl-names = "default";
    };

	backlight_dsi: backlight-dsi {
		compatible = "pwm-backlight";
		pwms = <&dsi_pwm 0 40000>; 
		brightness-levels = <0 255>;
		num-interpolated-steps = <255>;
		default-brightness-level = <250>;
		enable-gpios = <&tlmm 68 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&mipi_dsi_bl_en>;
	};
};

&mdss0 {
	status = "okay";
};

&mdss0_dsi0_phy {
	vdds-supply = <&vreg_l4a>;
	status = "okay";
};

&mdss0_dsi0 {
	vdda-supply = <&vreg_l1c>;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	panel: panel@0 {
		compatible = "radxa,display-10fhd-ad003";
		reg = <0>;
		backlight = <&backlight_dsi>;
		vccio-supply = <&vcc_1v8_io>;
		vdd-supply = <&vcc3v3_io>;
		reset-gpios = <&tlmm 77 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&lcd_panel_reset>;

		port {
			panel0_in: endpoint {
				remote-endpoint = <&mdss0_dsi0_out>;
			};
		};
	};
};

&mdss0_dsi0_out {
	remote-endpoint = <&panel0_in>;
	data-lanes = <0 1 2 3>;
};

&i2c18 {
	clock-frequency = <100000>;
	#address-cells = <1>;
	#size-cells = <0>;

	status = "okay";

	touch@14 {
		#gpio-cells = <2>;
		compatible = "goodix,gt9271";
		reg = <0x14>;
		interrupt-parent = <&tlmm>;
		interrupts = <76 IRQ_TYPE_LEVEL_HIGH>;
		irq-gpios = <&tlmm 76 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&tlmm 31 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&ts_int_conn>, <&ts_rst_conn>;
	};
};

&tlmm {
    dsi_pwm_default: dsi-pwm-default {
        pins = "gpio42";
        function = "gcc_gp5";
    };

	mipi_dsi_bl_en: mipi-dsi-bl-en-state {
		pins = "gpio68";
		function = "gpio";
		drive-strength = <2>;
		output-high;
		bias-pull-up;
	};

	mipi_dsi_vdd_en: mipi-dsi-vdd-en-state {
		pins = "gpio69";
		function = "gpio";
		drive-strength = <2>;
		output-high;
		bias-pull-up;
	};

	lcd_panel_reset: lcd-panel-reset {
		pins = "gpio77";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
	};

	ts_int_conn: ts-int-conn-state {
		pins = "gpio76";
		function = "gpio";
		bias-disable;
	};

	ts_rst_conn: ts-rst-conn-state {
		pins = "gpio31";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};
};
