/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Set OTG port to Host mode";
		compatible = "radxa,zero", "radxa,zero2";
		category = "misc";
		exclusive = "usb";
		description = "Set OTG port to Host mode.
Use this when you want to connect USB devices.";
	};
};

&usb {
	status = "okay";
	dr_mode = "host";
};
