/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Set OTG port to be controlled by hardware switch";
		compatible = "unknown";
		category = "misc";
		exclusive = "usb";
		description = "Set OTG port to be controlled by hardware switch.\nThis is the default mode.";
	};

	fragment@0 {
		target = <&usb>;

		__overlay__ {
			status = "okay";
			dr_mode = "otg";
		};
	};
};
