/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable PCIe";
		compatible = "radxa,radxa-cm3-io";
		category = "misc";
		description = "Enable PCIe.\nWhen PCIe is enabled, SATA2 cannot be enabled on the same port.";
	};

	fragment@0 {
		target = <&pcie2x1>;

		__overlay__ {
			status = "okay";
			reset-gpios = <&gpio1 0x0a 0x00>;
			vpcie3v3-supply = <&vcc3v3_sys>;
			pinctrl-0 = <&pcie20m2_pins>;
		};
	};
};
