/dts-v1/;
/plugin/;

#include <dt-bindings/display/rockchip_vop.h>
#include "rock-3ab-radxa-5inch-touchscreen.dtsi"

/ {
	metadata {
		title = "Enable Radxa 5-inch Touchscreen";
		compatible = "radxa,radxa-cm3-sodimm-io";
		category = "display";
		description = "Enable Radxa 5-inch Touchscreen.";
	};

 	/delete-node/ fragment@3;
 	/delete-node/ fragment@4;
 	/delete-node/ fragment@5;
 	/delete-node/ fragment@6;
 	/delete-node/ fragment@9;

	fragment@3 {
		target = <&dsi1_in_vp0>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target = <&dsi1_in_vp1>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@5 {
		target = <&route_dsi1>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@6 {
		target = <&i2c2>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@9 {
		target = <&vp0>;

		__overlay__ {
			rockchip,plane-mask = <(1 << ROCKCHIP_VOP2_CLUSTER0 | 1 << ROCKCHIP_VOP2_ESMART0 | 1 << ROCKCHIP_VOP2_SMART0)>;
			rockchip,primary-plane = <ROCKCHIP_VOP2_SMART0>;
		};
	};

	fragment@10 {
		target = <&hdmi>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@11 {
		target = <&hdmi_in_vp0>;

		__overlay__ {
			status = "disabled";
		};
	};
};