/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>

/ {
	metadata {
		title = "Enable Raspberry Pi Camera v2 on CM3 IO v1.34+ CAM1";
		compatible = "radxa,cm3-io";
		category = "camera";
		exclusive = "csi2_dphy1";
		description = "Enable Raspberry Pi Camera v2 on CM3 IO v1.34+ CAM1.";
	};
};

&{/} {
	ext_cam_clk_imx219_1: ext-cam-clk-imx219-1 {
		status = "okay";
		compatible = "fixed-clock";
		clock-frequency = <24000000>;
		clock-output-names = "ext_cam_clk_imx219_1";
		#clock-cells = <0>;
	};

	camera_pwdn_gpio_1: camera-pwdn-gpio-1 {
		status = "okay";
		compatible = "regulator-fixed";
		regulator-name = "camera_pwdn_gpio_1";
		regulator-always-on;
		regulator-boot-on;
		enable-active-high;
		pwdn-gpios = <&gpio4 RK_PC1 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&cam_pwdn_gpio_1>;
	};
};

&i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0_xfer>;

	#address-cells = <1>;
	#size-cells = <0>;

	imx219_1: imx219-1@10 {
		status = "okay";
		compatible = "sony,imx219";
		reg = <0x10>;

		clocks = <&ext_cam_clk_imx219_1>;
		clock-names = "ext_cam_clk_imx219_1";

		rotation = <180>;

		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "front";
		rockchip,camera-module-name = "rpi-camera-v2";
		rockchip,camera-module-lens-name = "default";

		port {
			imx219_out_1: endpoint {
				remote-endpoint = <&csi2dphy1_uCAM1>;
				data-lanes = <1 2>;
			};
		};
	};
};

&csi2_dphy_hw {
	status = "okay";
};

&csi2_dphy0 {
	status = "disabled";
};

&csi2_dphy1 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi2dphy1_uCAM1: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&imx219_out_1>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi2dphy1_out: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&isp0_in>;
			};
		};
	};
};

&rkisp_vir0 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp0_in: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&csi2dphy1_out>;
		};
	};
};

&rkisp {
	status = "okay";
};

&rkisp_mmu {
	status = "okay";
};

&rkcif_mmu {
	status = "okay";
};

&rkcif {
	status = "okay";
};


&pinctrl {
	camera {
		cam_pwdn_gpio_1: cam-pwdn-gpio-1 {
			rockchip,pins = <4 RK_PC1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};
