/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>

/ {
	metadata {
		title ="Enable Radxa Camera 8M 219 on CAM2";
		compatible = "radxa,cm4-io";
		category = "camera";
		exclusive = "GPIO2_D1", "csi2_dphy2", "i2c0";
		description = "Enable Radxa Camera 8M 219 on CAM2.";
	};
};

&{/} {
	camera_pwdn_gpio_2: camera-pwdn-gpio-2 {
		compatible = "regulator-fixed";
		regulator-name = "camera_pwdn_gpio_2";
		regulator-always-on;
		regulator-boot-on;
		enable-active-high;
		gpio = <&gpio2 RK_PD1 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&cam_pwdn_gpio_2>;
	};

	clk_cam_24m_2: external-camera-clock-24m-2 {
		compatible = "fixed-clock";
		clock-frequency = <24000000>;
		clock-output-names = "clk_cam_24m_2";
		#clock-cells = <0>;
	};
};

&i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c0m1_xfer>;
	#address-cells = <1>;
	#size-cells = <0>;


	imx219_2: imx219-2@10 {
		status = "okay";
		compatible = "sony,imx219";
		reg = <0x10>;
		clocks = <&clk_cam_24m_2>;
		clock-names = "xvclk";
		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "RADXA-CAMERA-8M";
		rockchip,camera-module-lens-name = "default";

		port {
			imx219_out2: endpoint {
				remote-endpoint = <&mipidphy2_in_ucam2>;
				data-lanes = <1 2>;
			};
		};
	};
};

&csi2_dphy0_hw {
	status = "okay";
};

&csi2_dphy1_hw {
	status = "okay";
};

&csi2_dphy2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipidphy2_in_ucam2: endpoint@2 {
				reg = <2>;
				remote-endpoint = <&imx219_out2>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidphy2_out: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&mipi2_csi2_input>;
			};
		};
	};
};

&mipi2_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi2_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidphy2_out>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi2_csi2_output: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&cif_mipi_in2>;
			};
		};
	};
};

&rkcif {
	status = "okay";
};

&rkcif_mmu {
	status = "okay";
};

&rkcif_mipi_lvds2 {
	status = "okay";

	port {
		cif_mipi_in2: endpoint {
		    remote-endpoint = <&mipi2_csi2_output>;
		};
	};
};

&rkcif_mipi_lvds2_sditf {
	status = "okay";

	port {
		mipi_lvds2_sditf: endpoint {
			remote-endpoint = <&isp_vir2>;
		};
	};
};

&rkisp_mmu {
	status = "okay";
};

&rkisp {
	status = "okay";
};

&rkisp_vir2 {
	status = "okay";

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp_vir2: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&mipi_lvds2_sditf>;
		};
	};
};

// &rkisp_vir0_sditf {
// 	status = "okay";
// };

// &rkvpss {
// 	status = "okay";
// };

// &rkvpss_mmu {
// 	status = "okay";
// };

// &rkvpss_vir0 {
// 	status = "okay";
// };

&pinctrl {
	camera {
		cam_pwdn_gpio_2: cam-pwdn-gpio-2 {
			rockchip,pins = <2 RK_PD1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};
