/dts-v1/;
/plugin/;
#include <dt-bindings/display/rockchip_vop.h>
/ {
	compatible = "rockchip,rk3568";

	fragment@0 {
		target = <&video_phy1>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&dsi1>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@2 {
		target = <&dsi1_panel>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&dsi1_in_vp0>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target = <&dsi1_in_vp1>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@5 {
		target = <&route_dsi1>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@6 {
		target = <&i2c2>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@7 {
		target = <&rockpi_mcu>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@8 {
		target = <&rockpi_ft5406>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@9 {
		target = <&vp0>;

		__overlay__ {
			rockchip,plane-mask = <(1 << ROCKCHIP_VOP2_CLUSTER0 | 1 << ROCKCHIP_VOP2_ESMART0 | 1 << ROCKCHIP_VOP2_SMART0)>;
			rockchip,primary-plane = <ROCKCHIP_VOP2_SMART0>;
		};
	};

	fragment@10 {
		target = <&hdmi>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@11 {
		target = <&hdmi_in_vp0>;

		__overlay__ {
			status = "disabled";
		};
	};
};