/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>

/ {
	metadata {
		title = "Enable Radxa Camera 8M 219 on CSI1";
		compatible = "radxa,cm3s-io", "radxa,radxa-cm3-sodimm-io";
		category = "camera";
		exclusive = "csi2_dphy2";
		description = "Enable Radxa Camera 8M 219 on CSI1.";
	};
};

&{/} {
	ext_cam_clk_imx219_1: ext-cam-clk-imx219-1 {
		status = "okay";
		compatible = "fixed-clock";
		clock-frequency = <24000000>;
		clock-output-names = "ext_cam_clk_imx219_1";
		#clock-cells = <0>;
	};

	camera_pwdn_gpio: camera-pwdn-gpio {
		status = "okay";
		compatible = "regulator-fixed";
		regulator-name = "camera_pwdn_gpio";
		regulator-always-on;
		regulator-boot-on;
		enable-active-high;
		gpio = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>;
	};
};

&i2c3 {
	status = "okay";
	#address-cells = <1>;
				#size-cells = <0>;

	imx219_2: imx219@10 {
		status = "okay";
		compatible = "sony,imx219";
		reg = <0x10>;
		clocks = <&ext_cam_clk_imx219_1>;
		clock-names = "ext_cam_clk_imx219_1";
		rockchip,camera-module-index = <1>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "RADXA-CAMERA-8M";
		rockchip,camera-module-lens-name = "default";

		port {
			imx219_2_out: endpoint {
				remote-endpoint = <&csi2dphy2_ucam1>;
				data-lanes = <1 2>;
			};
		};
	};
};

&csi2_dphy_hw {
	status = "okay";
};

&csi2_dphy2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi2dphy2_ucam1: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&imx219_2_out>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csi2dphy2_out: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&isp1_in>;
			};
		};
	};
};

&rkisp_vir1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	port {
		#address-cells = <1>;
		#size-cells = <0>;

		isp1_in: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&csi2dphy2_out>;
		};
	};
};

&rkisp {
	status = "okay";
};

&rkisp_mmu {
	status = "okay";
};

&rkcif_mmu {
	status = "okay";
};

&rkcif {
	status = "okay";
};
