/dts-v1/;
/plugin/;

/ {
	compatible = "radxa,radxa-cm3-io", "rockchip,rk3566";

	metadata {
		title = "Radxa Display 10HD for Radxa CM3 IO";
		compatible = "rockchip,rk3566";
		misc = "display";
		description = "Provide Radxa Display 10HD overlay for Radxa CM3 IO.";
	};

	fragment@0 {
		target = <&vcc_lcd_mipi1>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&dsi1_backlight>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@2 {
		target = <&pwm2>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&dsi1>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target = <&dsi1_panel>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@5 {
		target = <&video_phy1>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&dsi1_in_vp0>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@7 {
		target = <&dsi1_in_vp1>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@8 {
		target = <&vp0_out_dsi1>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@9 {
		target = <&vp1_out_dsi1>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@10 {
		target = <&route_dsi1>;

		__overlay__ {
			status = "okay";
			connect = <&vp0_out_dsi1>;
		};
	};

	fragment@11 {
		target = <&i2c2>;

		__overlay__ {
			status = "okay";
			pinctrl-0 = <&i2c2m1_xfer>;
		};
	};

	fragment@12 {
		target = <&hdmi>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@13 {
		target = <&hdmi_in_vp0>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@14 {
		target = <&hdmi_sound>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@15 {
		target = <&route_hdmi>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@18 {
		target = <&focaltech>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@19 {
		target = <&vcc_lcd_tp>;

		__overlay__ {
			status = "okay";
		};
	};

};
