/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable PWM8";
		compatible = "radxa,s0";
		category = "misc";
		exclusive = "GPIO0_C1";
		description = "Enable PWM8.\nOn Radxa S0 this is pin 31.";
	};

	fragment@0 {
		target = <&pwm8>;

		__overlay__ {
			status = "okay";
			pinctrl-names = "active";
			pinctrl-0 = <&pwm8_pin>;
		};
	};
};
