/dts-v1/;
/plugin/;

#include <dt-bindings/clock/rk3399-cru.h>

/ {
	metadata {
		title ="Set RGA frequency to 400 MHz";
		compatible = "rockchip,rk3399";
		category = "misc";
		description = "Set RGA frequency to 400 MHz.\nThis is the top frequency mentioned in Rockchip_FAQ_RGA_CN.pdf.";
	};

	fragment@0 {
		target = <&rga>;

		__overlay__ {
			assigned-clocks = <&cru ACLK_RGA>, <&cru SCLK_RGA_CORE>;
			assigned-clock-rates = <400000000>, <400000000>;
		};
	};
};
