/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable UART2-M0";
		compatible = "radxa,rockpis", "radxa,rock-s0";
		category = "misc";
		exclusive = "GPIO1_C6", "GPIO1_C7", "spi2", "uart1_cts", "uart1_rts";
		description = "Enable UART2-M0.\nOn ROCK PI S this is TX pin 19 & RX pin 21.\nOn ROCK S0 this is TX pin 19 & RX pin 21.";
	};

	fragment@0 {
		target = <&uart2>;

		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&uart2m0_xfer>;
		};
	};

	fragment@1 {
		target = <&spi2>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@2 {
		target = <&uart1_cts>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@3 {
		target = <&uart1_rts>;

		__overlay__ {
			status = "disabled";
		};
	};
};
