/dts-v1/;
/plugin/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>

/ {
        metadata {
                title = "Enable uart2";
                compatible = "rockchip,rk3399";
                category = "misc";
                description = "Enable uart2";
        };

        fragment@0 {
                target = <&uart2>;

                __overlay__ {
                        status = "okay";
                        pinctrl-names = "default";
                        pinctrl-0 = <&uart2c_xfer>;
                };
        };
};
