/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable UART0";
		compatible = "radxa,rockpis", "radxa,s0";
		category = "misc";
		exclusive = "GPIO2_A0", "GPIO2_A1";
		description = "Enable UART0.";
	};

	fragment@0 {
		target = <&uart0>;

		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&uart0_xfer>;
		};
	};
};
