/dts-v1/;
/plugin/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>

/ {
        metadata {
                title = "Enable PWM1";
                compatible = "rockchip,rk3399";
                category = "misc";
                description = "Enable PWM1";
        };

        fragment@0 {
                target = <&pwm1>;

                __overlay__ {
                        status = "okay";
                };
        };
};
