/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable PWM2";
		compatible = "radxa,rockpis", "radxa,s0";
		category = "misc";
		exclusive = "GPIO0_B7";
		description = "Enable PWM2.\nOn Radxa ROCK PI S this is pin 11.\nOn Radxa S0 this is pin 27.";
	};

	fragment@0 {
		target = <&pwm2>;

		__overlay__ {
			status = "okay";
			pinctrl-names = "active";
			pinctrl-0 = <&pwm2_pin>;
		};
	};
};
