/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable I2C0";
		compatible = "radxa,rockpis", "radxa,s0";
		category = "misc";
		exclusive = "GPIO1_D0", "GPIO1_D1";
		description = "Enable I2C0.\nOn Radxa ROCK PI S this is SDA pin 23 & SCL pin 24.\nOn Radxa S0 this is SDA pin 23 & SCL pin 24.";
    };

	fragment@0 {
		target = <&i2c0>;

		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&i2c0_xfer>;
		};
	};
};
