/dts-v1/;
/plugin/;

/{
	compatible = "rockchip,rk3399";

	fragment@0 {
		target-path = "/";
		__overlay__ {
			sc16is752_clk: sc16is752_spi2_0_clk {
				compatible = "fixed-clock";
				clock-frequency = <1475600>;
				#clock-cells = <0>;
			};
		};
	};

	fragment@1 {
		target = <&spi2>;

		__overlay__ {
			status = "okay";On 2>;
				spi-max-frequency = <4000000>;
				#gpio-controller;
				#gpio-cells = <2>;
			};
		};
	};
};
