/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable PWM7";
		compatible = "rockchip,rk3566", "rockchip,rk3568";
		category = "misc";
		description = "Enable PWM7.";
	};

	fragment@0 {
		target = <&pwm7>;

		__overlay__ {
			status = "okay";
			pinctrl-names = "active";
			pinctrl-0 = <&pwm7_pins>;
		};
	};
};
