/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable UART6-M2";
		compatible = "radxa,nx5-io";
		category = "misc";
		exclusive= "GPIO1_D0", "GPIO1_D1";
		description = "Enable UART6-M2.\nOn Radxa ROCK 5A this is TX pin 22 & RX pin 37.";
	};

	fragment@0 {
		target = <&uart6>;

		__overlay__ {
			status = "okay";
			pinctrl-0 = <&uart6m2_xfer>;
		};
	};
};
