/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Disable Ethernet";
		compatible = "rockchip,rk3566", "rockchip,rk3568";
		category = "misc";
		exclusive = "gmac1";
		description = "Disable Ethernet.";
	};

	fragment@0 {
		target = <&gmac1>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@1 {
		target = <&mdio1>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@2 {
		target = <&rgmii_phy1>;

		__overlay__ {
			status = "disabled";
		};
	};
};
