/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable SATA2";
		compatible = "radxa,rock-3b";
		category = "misc";
		description = "Enable SATA2.";
	};

	fragment@0 {
		target = <&sata2>;

		__overlay__ {
			status = "okay";
		};
	};
};