/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable PWM6";
		compatible = "rockchip,rk3566", "rockchip,rk3568";
		category = "misc";
		description = "Enable PWM6.";
	};

	fragment@0 {
		target = <&pwm6>;

		__overlay__ {
			status = "okay";
			pinctrl-names = "active";
			pinctrl-0 = <&pwm6_pins>;
		};
	};
};
