/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable PWM2-M1";
		compatible = "unknown";
		category = "misc";
		description = "Enable PWM2-M1.";
	};

	fragment@0 {
		target = <&pwm2>;

		__overlay__ {
			status = "okay";
			pinctrl-names = "active";
			pinctrl-0 = <&pwm2m1_pins>;
		};
	};
};
