/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable PWM11-M1";
		compatible = "rockchip,rk3566", "rockchip,rk3568";
		category = "misc";
		description = "Enable PWM11-M1.";
	};

	fragment@0 {
		target = <&pwm11>;

		__overlay__ {
			status = "okay";
			pinctrl-names = "active";
			pinctrl-0 = <&pwm11m1_pins>;
		};
	};
};
