/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable UART4-M2";
		compatible = "rockchip,rk3588";
		category = "misc";
		description = "Enable UART4-M2.";
	};

	fragment@0 {
		target = <&uart4>;

		__overlay__ {
			status = "okay";
			pinctrl-0 = <&uart4m2_xfer>;
		};
	};
};
