/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable Quectel EM05 Modem";
		compatible = "radxa,radxa-3b";
		category = "misc";
		description = "Enable Quectel EM05 Modem.";
	};

	fragment@0 {
		target = <&em05_modem>;

		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&em05_power_en &em05_airplane_mode &em05_reset>;
		};
	};
};