/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable PWM14-M0";
		compatible = "radxa,rock-3c";
		category = "misc";
		exclusive = "GPIO3_C4", "pwm14";
		description = "Enable PWM14-M0.";
	};

	fragment@0 {
		target = <&pwm14>;

		__overlay__ {
			status = "okay";
			pinctrl-names = "active";
			pinctrl-0 = <&pwm14m0_pins>;
		};
	};
};
