/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable FIQ Debugger on UART5-M1";
		compatible = "radxa,rock-3a", "radxa,rock-3b", "radxa,rock-3c", "radxa,radxa-cm3-sodimm-io", "radxa,e23", "radxa,e25";
		category = "misc";
		description = "Enable FIQ Debugger on UART5-M1.";
	};

	fragment@0 {
		target = <&fiq_debugger>;

		__overlay__ {
			status = "okay";
			rockchip,serial-id = <5>;
			pinctrl-names = "default";
			pinctrl-0 = <&uart5m1_xfer>;
		};
	};

	fragment@1 {
		target = <&uart5>;

		__overlay__ {
			status = "disabled";
		};
	};
};
