/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable UART10-M1";
		compatible = "radxa,rock-4d";
		category = "misc";
		exclusive = "GPIO1_D0", "GPIO1_D1";
		description = "Enable UART10-M1.
On Radxa ROCK 4D this is TX pin 40 and RX pin 12.
";
	};
};

&uart10 {
	status = "okay";
	pinctrl-0 = <&uart10m1_xfer>;
};
