/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable UART3-M0";
		compatible = "radxa,rock-2a";
		category = "misc";
		exclusive = "GPIO4_B0", "GPIO4_B1";
		description = "Enable UART3-M0.
On Radxa ROCK 2A this is RX pin 16 & TX pin 18.";
	};
};

&uart3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart3m0_xfer>;
};
