/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable I2C4-M0";
		compatible = "rockchip,rk3566", "rockchip,rk3568";
		category = "misc";
		description = "Enable I2C4-M0.";
	};

	fragment@0 {
		target = <&i2c4>;

		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&i2c4m0_xfer>;
		};
	};
};
