/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable UART8-M1";
		compatible = "unknown";
		category = "misc";
		description = "Enable UART8-M1.";
	};

	fragment@0 {
		target = <&uart8>;

		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&uart8m1_xfer>;
		};
	};
};
