/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable PWM13-M0";
		compatible = "radxa,e25";
		category = "misc";
		exclusive = "GPIO3_C0";
		description = "Enable PWM13-M0.\nOn Radxa ROCK 3A <= v1.2 this is pin 37.\nOn Radxa E25 this is pin 26";
	};

	fragment@0 {
		target = <&pwm13>;

		__overlay__ {
			status = "okay";
			pinctrl-names = "active";
			pinctrl-0 = <&pwm13m0_pins>;
		};
	};
};
