/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable UART5-M1";
		compatible = "rockchip,rk3566", "rockchip,rk3568";
		category = "misc";
		description = "Enable UART5-M1.";
	};

	fragment@0 {
		target = <&uart5>;

		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&uart5m1_xfer>;
		};
	};
};
