/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable UART4-M2";
		compatible = "radxa,rock-5b";
		category = "misc";
		exclusive = "GPIO1_B2", "GPIO1_B3";
		description = "Enable UART4-M2.\nOn Radxa ROCK 5B this is TX pin 23 , RX pin 19.";
	};

	fragment@0 {
		target = <&uart4>;

		__overlay__ {
			status = "okay";
			pinctrl-0 = <&uart4m2_xfer>;
		};
	};
};
