/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	metadata {
		title = "Enable Waveshare 3.5 inch Display on SPI0";
		compatible = "radxa,cm5-io";
		category = "misc";
		exclusive = "GPIO1_B1", "GPIO1_D5", "GPIO4_A0", "GPIO4_A1", "GPIO4_A2", "GPIO4_A6", "GPIO4_B2" ;
		description = "Enable Waveshare 3.5 inch Display on SPI0.";
	};

	fragment@0 {
		target = <&spi0>;

		__overlay__ {
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;
			pinctrl-names = "default";
			pinctrl-0 = <&spi0m1_cs0 &spi0m1_pins>;
			max-freq = <16000000>;

			ili9486@0 {
				compatible = "ilitek,ili9486";
				reg = <0>;
				spi-max-frequency = <16000000>;
				txbuflen = <32768>;
				rotate = <90>;
				bgr = <0>;
				fps = <30>;
				buswidth = <8>;
				regwidth = <16>;
				reset-gpios = <&gpio1 RK_PB1 GPIO_ACTIVE_LOW>; // GPIO1_B1
				dc-gpios = <&gpio1 RK_PD5 GPIO_ACTIVE_HIGH>; // GPIO1_D5
				debug = <0>;
			};

			ads7846@1 {
				compatible = "ti,ads7846";
				status = "okay";
				reg = <1>;
				id = <1>;
				spi-max-frequency = <2000000>;
				interrupt-parent = <&gpio4>;
				interrupts = <RK_PA6 IRQ_TYPE_EDGE_FALLING>;
				pendown-gpio = <&gpio4 RK_PA6 GPIO_ACTIVE_HIGH>;
				ti,x-plate-ohms = /bits/ 16 <60>;
				ti,pressure-max = /bits/ 16 <255>;
				ti,swap-xy = <0>;
				vcc-supply = <&vcc5v0_sys>;
			};
		};
	};
};
