/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable UART1-M0";
		compatible = "unknown";
		category = "misc";
		exclusive = "GPIO4_A7", "GPIO4_A6";
		description = "Enable UART1-M0.";
	};
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart1m0_xfer>;
};
