/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable UART0-M0";
		compatible = "radxa,rock-2a";
		category = "misc";
		exclusive = "GPIO4_C7", "GPIO4_D0";
		description = "Enable UART0-M0.
On Radxa ROCK 2A this is RX pin 10 & TX pin 8.";
	};
};

&{/} {
	fiq-debugger {
		status = "disabled";
	};
};

&uart0 {
	status = "okay";
};
