/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable PWM5";
		compatible = "rockchip,rk3566", "rockchip,rk3568";
		category = "misc";
		description = "Enable PWM5.";
	};

	fragment@0 {
		target = <&pwm5>;

		__overlay__ {
			status = "okay";
			pinctrl-names = "active";
			pinctrl-0 = <&pwm5_pins>;
		};
	};
};
