// ROCK 3A/3B RaspberryPi Camera V1.3
/dts-v1/;
/plugin/;

/ {
	compatible = "rockchip,rk3568";

	fragment@0 {
		target = <&ext_cam_clk>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@1 {
		target = <&i2c5>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@2 {
		target = <&ov5647>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&csi2_dphy_hw>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target = <&csi2_dphy0>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@5 {
		target = <&rkisp_vir0>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@6 {
		target = <&rkisp>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@7 {
		target = <&rkisp_mmu>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@8 {
		target = <&rkcif_mmu>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@9 {
		target = <&rkcif>;

		__overlay__ {
			status = "okay";
		};
	};

	fragment@10 {
		target = <&vcc_camera>;

		__overlay__ {
			status = "okay";
		};
	};
};
