// ROCK 3A usb3.0 otg port to sata
/dts-v1/;
/plugin/;

/ {
	compatible = "rockchip,rk3568";

	fragment@0 {
		target = <&usbdrd_dwc3>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@1 {
		target = <&usbdrd30>;

		__overlay__ {
			status = "disabled";
		};
	};

	fragment@2 {
		target = <&sata0>;

		__overlay__ {
			status = "okay";
		};
	};
};
