/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/rockchip.h>

/ {
	metadata {
		title = "Enable Radxa 4K HDMI IN to MIPI CSI-2 Adapter";
		compatible = "radxa,rock-3c", "radxa,zero3";
		category = "camera";
		exclusive = "csi2_dphy0", "GPIO3_B3", "GPIO3_C6", "GPIO3_B4";
		description = "Enable Radxa 4K HDMI IN to MIPI CSI-2 Adapter.
In addition to the CSI FPC, connect INT to pin29 and DET to pin31.
To capture audio, also enable the 'I2S3-M0 capture-only dummy sound card' overlay.
";
	};
};

&i2c2 {
	status = "okay";
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2m1_xfer>;
	#address-cells = <1>;
	#size-cells = <0>;

	rk628_csi: rk628-csi@50 {
		compatible = "rockchip,rk628-csi-v4l2";
		reg = <0x50>;
		pinctrl-names = "default";
		pinctrl-0 = <&rk628_pin>;
		interrupt-parent = <&gpio3>;
		interrupts = <RK_PB3 IRQ_TYPE_LEVEL_HIGH>;
		reset-gpios = <&gpio3 RK_PC6 GPIO_ACTIVE_LOW>;
		plugin-det-gpios = <&gpio3 RK_PB4 GPIO_ACTIVE_LOW>;
		continues-clk = <1>;

		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "HDMI-MIPI";
		rockchip,camera-module-lens-name = "RK628-CSI";

		port {
			hdmiin_out: endpoint {
				remote-endpoint = <&hdmi2mipi_in>;
				data-lanes = <1 2>;
			};
		};
	};
};

&csi2_dphy_hw {
	status = "okay";
};

&csi2_dphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			hdmi2mipi_in: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&hdmiin_out>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			reg = <1>;

			csidphy0_out: endpoint {
				remote-endpoint = <&mipi_csi2_input>;
			};
		};
	};
};

&mipi_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidphy0_out>;
			};
		};

		port@1 {
			reg = <1>;

			mipi_csi2_output: endpoint {
				remote-endpoint = <&cif_mipi_in>;
			};
		};
	};
};

&rkcif {
	status = "okay";
};

&rkcif_mipi_lvds {
	status = "okay";

	port {
		cif_mipi_in: endpoint {
			remote-endpoint = <&mipi_csi2_output>;
		};
	};
};

&rkcif_mmu {
	status = "okay";
};

&pinctrl {
	hdmiin {
		rk628_pin: rk628-pin {
			rockchip,pins =
				<3 RK_PB3 RK_FUNC_GPIO &pcfg_pull_up>,
				<3 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>,
				<3 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
