/dts-v1/;
/plugin/;

/ {
	metadata {
		title = "Enable Raspberry Pi 7-inch Touchscreen";
		compatible = "radxa,rockpi4a", "radxa,rockpi4b", "radxa,rockpi4c", "radxa,rockpi4a-plus", "radxa,rockpi4b-plus", "radxa,rock-4se";
		category = "display";
		exclusive = "dsi1";
		description = "Enable Raspberry Pi 7-inch Touchscreen";
	};
};

&dsi {
	dsi1-only;
	status = "okay";
};

&dsi1 {
	rockchip,dsi-dsi0 = <&dsi>;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	rockchip,lane-rate = <696>;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			dsi_out_panel: endpoint {
				remote-endpoint = <&panel_in_dsi>;
			};
		};
	};
};

&i2c1 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	raspits_panel: raspits-panel@45 {
		compatible = "raspberrypi,7inch-touchscreen-panel";
		reg = <0x45>;

		port {
			panel_in_dsi: endpoint {
				remote-endpoint = <&dsi_out_panel>;
			};
		};
	};

	raspits_touch_ft5426: raspits-touch-ft5426@38 {
		compatible = "raspits_ft5426";
		reg = <0x38>;
	};
};

&vopl_out_dsi1 {
	status = "okay";
};

&dsi1_in_vopb {
	status = "disabled";
};

&dsi1_in_vopl {
	status = "okay";
};

&route_dsi {
	status = "disabled";
	connect = <&vopl_out_dsi>;
};
