/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/power/rk3588-power.h>

/ {
	metadata {
		title = "Enable Radxa 4K HDMI IN to MIPI CSI-2 Adapter";
		compatible = "radxa,rock-5a", "radxa,rock-5c";
		category = "camera";
		exclusive = "csi2_dphy0", "GPIO1_D2", "GPIO1_D3", "GPIO1_D5";
		description = "Enable Radxa 4K HDMI IN to MIPI CSI-2 Adapter.
To capture audio, also enable the ‘I2S1-M0 capture-only dummy sound card’ overlay.";
	};
};

&i2c3 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	rk628_csi: rk628-csi@50 {
		compatible = "rockchip,rk628-csi-v4l2";
		reg = <0x50>;
		power-domains = <&power RK3588_PD_VI>;
		pinctrl-names = "default";
		pinctrl-0 = <&rk628_pin>;
		interrupt-parent = <&gpio1>;
		interrupts = <RK_PD3 IRQ_TYPE_LEVEL_HIGH>;
		reset-gpios = <&gpio1 RK_PD2 GPIO_ACTIVE_LOW>;
		plugin-det-gpios = <&gpio1 RK_PD5 GPIO_ACTIVE_LOW>;
		continues-clk = <1>;

		rockchip,camera-module-index = <0>;
		rockchip,camera-module-facing = "back";
		rockchip,camera-module-name = "HDMI-MIPI2";
		rockchip,camera-module-lens-name = "RK628-CSI";

		port {
			hdmiin_out: endpoint {
				remote-endpoint = <&hdmi2mipi_in>;
				data-lanes = <1 2 3 4>;
			};
		};
	};
};

&csi2_dphy0_hw {
	status = "okay";
};

&csi2_dphy0 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			hdmi2mipi_in: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&hdmiin_out>;
				data-lanes = <1 2 3 4>;
			};
		};

		port@1 {
			reg = <1>;

			csidphy0_out: endpoint {
				remote-endpoint = <&mipi2_csi2_input>;
			};
		};
	};
};

&mipi2_csi2 {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipi2_csi2_input: endpoint@1 {
				reg = <1>;
				remote-endpoint = <&csidphy0_out>;
			};
		};

		port@1 {
			reg = <1>;

			mipi2_csi2_output: endpoint {
				remote-endpoint = <&cif_mipi2_in>;
			};
		};
	};
};

&rkcif {
	status = "okay";
};

&rkcif_mipi_lvds2 {
	status = "okay";

	port {
		cif_mipi2_in: endpoint {
			remote-endpoint = <&mipi2_csi2_output>;
		};
	};
};

&rkcif_mmu {
	status = "okay";
};

&pinctrl {
	hdmiin {
		rk628_pin: rk628-pin {
			rockchip,pins =
				<1 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>,
				<1 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>,
				<1 RK_PD5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
