#ifndef __WAVESHARE35_LCD_DTSI__
#define __WAVESHARE35_LCD_DTSI__

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/interrupt-controller/irq.h>

/dts-v1/;
/plugin/;

#ifndef DISPLAY_SPI
#error "DISPLAY_SPI is undefined."
#endif

&DISPLAY_SPI {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	ili9486: ili9486@0 {
		compatible = "ilitek,ili9486";
		reg = <0>;
		spi-max-frequency = <16000000>;
		txbuflen = <32768>;
		rotate = <90>;
		bgr = <0>;
		fps = <30>;
		buswidth = <8>;
		regwidth = <16>;
		debug = <0>;
	};

	ads7846: ads7846@1 {
		compatible = "ti,ads7846";
		status = "okay";
		reg = <1>; 
		id = <1>;
		spi-max-frequency = <2000000>;
		ti,x-plate-ohms = /bits/ 16 <60>;
		ti,pressure-max = /bits/ 16 <255>;
		ti,swap-xy = <0>;
		ti,invert-y = <1>;
		vcc-supply = <&vcc5v0_sys>;
	};
};

#endif // __WAVESHARE35_LCD_DTSI__
